In [1]:
import pymysql.cursors
import pandas as pd

# Connect to the database
connection = pymysql.connect(
    host='localhost',
    user='python_agent',
    password='python_agent1!',
    db='world',
    charset='utf8mb4',
    cursorclass=pymysql.cursors.DictCursor)

#try running a query
try:
    with connection.cursor() as cursor:
        sql = "SELECT * FROM City WHERE population > 700000"
        cursor.execute(sql)
        
        #Extract the data in a dataframe
        df = pd.DataFrame(cursor.fetchall())
finally:
    connection.close()
    
print(df.Population)

0      1780000
1       731200
2      2168000
3      2022000
4      2982146
        ...
353     791926
354     776733
355     735167
356     711470
357    1410000
Name: Population, Length: 358, dtype: int64

In [5]:
connection = pymysql.connect(
    host='localhost',
    user='python_agent',
    password='python_agent1!',
    db='world',
    charset='utf8mb4',
    cursorclass=pymysql.cursors.DictCursor)

#try running a query
try:
    with connection.cursor() as cursor:
        sql = "SELECT * FROM Country WHERE Name='Vietnam'"
        cursor.execute(sql)
        
        #Extract the data in a dataframe
        df = pd.DataFrame(cursor.fetchall())
finally:
    connection.close()
    
print(df.Continent)

0    Asia
Name: Continent, dtype: object